/*************************************************** 
    UTILITIES
****************************************************/

/********************* 
    BACKGROUND COLORS
**********************/

.bg-purple {
    background-color: #181A27;
}

/********************* 
    TEXT
**********************/

/********************* 
    CONTAINERS
**********************/

main {
    min-height: 750px;
    position: relative;
}

.container {
    height: 750px;
    width: 750px !important;
    
}

.prev {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translate(-50%, -50%);
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#items {
    height: 750px;
    width: 750px;
    margin-top: 250px;    
    display: flex;
    align-items: center;
    
}

.container #items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 250px;
}

.item {
    display: none;
}

.active {
    display: block;
}

