/*************************************************** 
    UTILITIES
****************************************************/

/********************* 
    BACKGROUND COLORS
**********************/

.bg-purple {
    background-color: #181A27;
}

/********************* 
    TEXT
**********************/

/********************* 
    CONTAINERS
**********************/

main {
    min-height: 750px;
    
}

.prev {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.next {
    position: absolute;
    top: 60%;
    right: 15%;
    transform: translate(-50%, -50%);
}

#items { 
    display: flex;
    align-items: center;
}

.item {
    width: 1500px; 
    position: relative;
    background-color: #181A27;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    display: none;
}

.active {
    display: block;
}

.title {
    font-size: 100px;
}

.thumb-img {
    height: 135px;
    opacity: 0.2;
}

#thumbnail-images img {
    object-fit: cover;
}

.opacity-1 {
    opacity: 1;
}